<nav class="justify-content-end navbar navbar-expand-lg bg-info-subtle rounded-bottom">
    <div class="container-fluid">
        <a class="navbar-brand fs-4 fw-bold" href="#"><h1>CRUD</h1></a>
        <div>
            <button class="bi bi-sun-fill btn fs-2 p-0 m-0" id="light-dark-toggle"></button>
            <button id="side-bar-toggler" class="btn bi bi-layout-sidebar-inset fs-2" type="button" ></button>
        </div>
</nav>
