<form action="/search" method="post" class="d-flex justify-content-between align-content-center position-relative">
    <input id="search-bar" type="text" name="search" placeholder="Search" class="search-bar mt-2 mb-2 rounded border-0 p-1">
    <i class="bi bi-search position-absolute"></i>
    <button class="rounded search-btn">Search</button>
</form>